// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.mp-footer {
        color:color($colors, danger);
        width:98vw;
    }

.mp-row{
    min-height:3.8rem;
}

.alternate{
        background-color: whitesmoke;
    }

.normal{
        background-color: white;
    }

.menu-button{
    height:6rem;
}

.mp-header{
    color:color($colors, twitter, base);
}

.mp-padding{
    margin-top:1rem;
    margin-left:1rem;
    width:98vw;
    // margin-right:10rem;
}

.mp-icon  {
        font-size:35px;
        vertical-align: middle;
        margin-top:0.5rem;
        float:right;
        // color:color($colors, twitter, base);
    }
// ion-scroll{
//   overflow: scroll; 
//   white-space: nowrap;
//   height:100vh;
// }