<!-- <ion-spinner tappable [name]="'ios-small'" color='danger' *ngIf="!(appService.get('socket').connected)" (click)="forceConnect()"></ion-spinner> -->
<!-- <ion-icon tappable *ngIf="appService.get('socket').connected" (click)="forceConnect()" color="secondary" ios="ios-checkmark-circle"
  md="md-checkmark-circle"></ion-icon> -->

<!-- <a color='primary' style='display:inline-block;vertical-align:middle;margin-top : 0.5rem' src='#' (click)="selectDatabase()">
  <u>{{appService.get('selectedDatabase') || 'Database'}}</u>
</a> -->
<button (click)="selectDatabase()" ion-button primary>{{
  (appService.get('selectedDatabase') && appService.get('selectedDatabase').split(':')[1])
  ||mDatabase}}</button>
<div padding style='float:right'>
  {{title}}
</div>