common-header {

ion-icon  {
        font-size:35px;
        vertical-align: middle;
        margin-top:0.5rem;
    }

ion-spinner svg {
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-top: 1rem;
  margin-left: -1rem;
}
}
